.active {
    font-weight: bold;
}

ul {
    font-size: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: flex;
    margin: 2px;
    padding: 2px;
    float: left;
    color: black;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
}

.nome {
    float: right;
    font-size: large;
}